body
{
    font-family: DejaVu Sans Mono, serif;
    margin: 0;
}

button {
    display: inline-block;
    width: 100px;
    font-size: 20px;
    transition-duration: 0.4s;
    margin-bottom: 200px;
}

button:hover {
    background-color: indianred;
    color: white;
}

/********** Header **********/

header {
    font-family: monospace;
    display: flex;
    background: linear-gradient(#681f1f, 70%, black);
    color: #bebebe;
    justify-content: space-between;
}

header h1
{
    font-family: DejaVu Sans Mono, monospace, sans-serif;
    font-size: 2.5em;
    font-weight: normal;
}

/*********** Nav *************/

nav ul
{
    list-style-type: none;
    display: flex;
    margin-top:  30px;
}

nav li
{
    margin-right: 50px;
}

nav a
{
    font-size: 1.7em;
    color: #bebebe;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover
{
    color: #760001;
    border-bottom: 3px solid #760001;
}

#logo
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#logo img
{
    width: 200px;
    height: 200px;
    margin: 30px;
}

/*************hr***************/

hr {
    margin: 40px 0;
}
.hr1 {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, transparent, #CCC, transparent);
}

/**********Section********/

#bloc_page {
    width: 1300px;
    margin: auto;
}

#bloc_article {
    display: flex;
    justify-content: space-around;
}

section h1 {
    display: flex;
    justify-content: center;
}
.syn {
    text-align: center;
}

article h3
{
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;
}

aside h3
{
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;
}

section {
    display: flex;
    margin-bottom: 200px;
    flex-flow: column nowrap;
}

article {
    margin-top: 30px;
    margin-bottom: 50px;
}

article img {
    float: left;
    margin-right: 15px;
}

/*************footer*********/

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer ul {
    order: -1;
    list-style-type: none;
    display: flex;
}

footer li {
    margin-right: 15px;
}

footer a {
    font-size: 1.3em;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
}

footer a:hover {
    color: #760001;
}

/*************media queries***************/

@media all and (max-width: 1024px)
{
    h1 {
        font-size: 1.2em;
    }

    h3 {
        font-size: 0.9em;
    }

    aside p {
        font-size: 0.8em;
    }

    header h1
    {
        font-family: DejaVu Sans Mono, serif;
        font-size: 1em;
        font-weight: normal;
    }

    #logo img
    {
        width: 100px;
        height: 100px;
        margin: 30px;
    }

    nav a
    {
        font-size: 0.8em;
        color: #181818;
        padding-bottom: 3px;
        text-decoration: none;
    }

    nav ul {
        display: flex;
        flex-flow: column wrap;
    }

    header {
        background: linear-gradient(#681f1f, 90%, black);
        width: auto;
        height: auto;
    }

    #bloc_article {
        display: flex;
        flex-flow: column wrap;
    }

    #bloc_page
    {
        width: auto;
    }

    button {
        font-size: 0.9em;
        margin-bottom: 50px;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    footer a {
        font-size: 1em;
    }

    footer img {
        width: 30px;
        height: 30px;
    }
}
